/*
This document uses BEM naming conventions, learn more at: https://en.bem.info/

Author-created styles begin on line 300
*/




/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}








/* ==========================================================================
 * ==========================================================================
 * AUTHOR-CREATED STYLES BEGIN HERE
 * ==========================================================================
 * ==========================================================================*/




@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../fonts/helvetica-neue-bold.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/helvetica-neue-bold.ttf')  format('truetype');
}
/* ==========================================================================
   DASHBOARD
   ========================================================================== */

body {
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-size: 1em;
}

.dashboard {
  display: block;
  position: relative;
  min-height: 120px;
  background: #f1f1f1;
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-size: .5em;
  line-height: 10px;
}

/* ==========================================================================
   DESIGNLEDGE LINK
   ========================================================================== */

.dl-link {
  position: relative;
  display:block;
  height: 25px;
  background: #2f2f2f;
  margin-bottom: 10px;
}

.dl-link__logo {
  width: 16px;
  position: absolute;
  top: 4.5px;
  left: 5px;
}

.dl-link__logo--color {
  display: none;
}

.dl-link:hover > .dl-link__logo--white {
  display:none;
}

.dl-link:hover > .dl-link__logo--color {
  display:block;
}

/* ==========================================================================
   DASHBOARD LABELS
   ========================================================================== */

.progress-label {
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
}

.progress-label--annual {
  margin-bottom: 20px;
}

.progress-label__glyph {
  display: inline;
}

.progress-label__text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 0 0 7px;
}

/* ==========================================================================
   MONTHS
   ========================================================================== */
 .all-months {
   text-align: center;
   position:relative;
 }

.all-months__spacer {
  display: inline-block;
  width: 15%;
  min-width: 38px;
  margin-bottom: 10px;
  position: relative;
  height: 76px;
  vertical-align: bottom;
}

.month {
  padding-top: 10px;
}

.month--current {
  background:#fafafa;
  width: 60px;
  height: 66px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 1px 2px #c8c8c8;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -30px;
}

@media only screen
  and (max-width: 420px) {

  .month--current {
    width: 50px;
    border-radius: 0 0 25px 25px;
    margin-left: -25px;
  }

}

.month__name {
  color: #929292;
  margin: 0 0 6px 0;
}

/* ==========================================================================
   CIRCLE PROGRESS BARS
   ========================================================================== */

.month__circle {
    height: 38px;
    width: 38px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.month__circle > svg {
    height: 100%;
    display: block;

}

.month__bal {
  color: #2f2f2f;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2em;
  padding-bottom: 1px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

/* ==========================================================================
   ANNUAL PROGRESS BAR
   ========================================================================== */
.annual-section {
  padding-bottom: 25px;
}

.annual-progress {
  position: relative;
  height: 8px;
  width: 80%;
  min-width: 210px;
  background: #dfdfdf;
  margin: 0 auto;
  font-size: 1.5em;
}

.annual-progress::before {
  height: inherit;
  width: 12px;
  background: #9bd500;
  border-radius: 4px 0 0 4px;
  content: '';
  position: absolute;
  display:block;
  left: -12px;
  top: 0px;
  z-index: 0;

}



.annual-progress > svg {
    height: 100%;
    display: block;
    vertical-align: top;
}

.annual-progress__used-hours {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: -8px 0 0 -12px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 7px;
  background: #fafafa;
  box-shadow: 0px 1px 2px #c8c8c8;
  z-index: 1;
  transform: translateX(0px);
}

.annual-progress__tot-hours {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: absolute;
  background: #dfdfdf;
  right: 0px;
  top: 0px;
  margin: -8px -12px 0 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 7px;
  z-index: 0;

}

/* ==========================================================================
   BACKUP
   ========================================================================== */
.backup {
  display: inline-block;
  width: 50%;
  height: 60px;
  background: #dfdfdf;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  vertical-align: top;
}

.backup-label {
  display: inline
  margin: 0 auto;

}

.backup-label__glyph {
  fill: #a7a7a7;
  display: inline;
}

.backup-label__text {
  color: #a7a7a7;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 4px;
}

.backup__datetime {
  display: block;
  text-align: center;
  font-size: 1.6em;
  color: #353535;
  margin-top: 4px;
}


/* ==========================================================================
   BENEFITS
   ========================================================================== */
.benefits {
  display: inline-block;
  width: calc(50% - 1px);
  height: 60px;
  background: #dfdfdf;
  cursor: pointer;
  margin-left: 1px;
  vertical-align: top;
  border:none;
  -webkit-appearance: initial;
  padding: 0px;
  text-decoration: none;
  transition: background-color 150ms;
}

.benefits:focus {
  outline: none;
}

.benefits-label {
  text-align: center;
  margin-top: 20px;
}

.benefits-label__glyph {
  fill: #a7a7a7;
  display: inline;
  transition: fill 150ms;
}

.benefits-label__text {
  color: #a7a7a7;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 4px;
  line-height: 9px;
  transition: color 150ms;
}

.benefits:hover {
  background: #797979;
}

.benefits:active {
box-shadow: inset 0 0 0 1px #5e5e5e ,inset 0 2px 12px #5e5e5e;
background: #797979;
}

.benefits:hover .benefits-label__text, .benefits:active .benefits-label__text {
  color: white;
}

.benefits:hover .benefits-label__glyph, .benefits:active .benefits-label__glyph {
  fill: white;
}

.benefits-modal__text {
  max-height: 70vh;
  overflow-y: auto;
}


 /* ==========================================================================
    PRIORITY ALERT
    ========================================================================== */

.alert {
  height: 60px;
  background: #2f2f2f;
  border: none;
  -webkit-appearance: initial;
  padding: 0px;
  cursor: pointer;
  color: white;
  display: block;
  width: 100%;
  transition: background-color 150ms;
}

.alert:focus {
  outline: none;
}

.alert:hover {
  background: #d50000;
}

.alert:active {
box-shadow: inset 0 0 0 1px #BC0000 ,inset 0 2px 12px #BC0000;
background: #d50000;
}

.alert-label {

}

.alert-glyph {
  display:inline-block;
  position: relative;
  margin-right: 10px;
  width: 24px;
  height: 21px;
  vertical-align: middle;
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
}

.alert-glyph__span {
  position: absolute;
  display: block;
  background: white;
  height: 2px;
  width: 24px;
  border-radius: 1px;
  bottom: 0px;
}

.alert-glyph__span--left {
  transform-origin: 1px 1px;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
}

.alert-glyph__span--right {
  transform-origin: 23px 1px;
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
}

.alert-glyph__span--bottom {
  transform-origin: 50% -12px;
  transition: transform 500ms, background-color 500ms;
  -webkit-transition: transform 500ms, background-color 500ms;
}

.alert-glyph__exclamation {
  position:absolute;
  left: 0px;
  fill: white;
  transition: transform 500ms, fill 500ms;
  -webkit-transition: transform 500ms, fill 500ms;
}

.alert-glyph__span--left-x {
  transform: rotate(45deg) translate(-10px, -14.5px);
  -webkit-transform: rotate(45deg) translate(-10px, -14.5px);
}

.alert-glyph__span--right-x {
  transform: rotate(-45deg) translate(10px,-14.5px);
  -webkit-transform: rotate(-45deg) translate(10px,-14.5px);
}

.alert-glyph__span--bottom-x {
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  background-color: transparent;
}

.alert-glyph__exclamation-x {
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  fill: transparent;
}

.alert--x {
  background: #d50000;
}

.alert-text {
  position:relative;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  text-align: left;
  overflow: hidden;
}

.alert-text__break {
  display: none;
}

.alert-text__priority {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  transition: top 500ms;
  -webkit-transition: top 500ms;
}

.alert-text__close {
  display: inline-block;
  position: relative;
  left: 0px;
  top: -20px;
  transition: top 500ms;
  -webkit-transition: top 500ms;
}

.alert-text__priority--x {
  top: 10px;
}

.alert-text__close--x {
  top: -10px;
}


/* ==========================================================================
   PRIORITY ALERT FORM
   ========================================================================== */

.alert-form {
  background: #f1f1f1;
  padding-top: 35px;
  font-size: 1em;
}

.bug-info__label {
  display:block;
  width: 86%;
  margin: 0px auto 13px auto;
  padding-top: 45px;
}

.bug-info__textarea {
  display:block;
  width: 86%;
  margin: 0 auto 5px auto;
  border: none;
  resize: none;
  height: 100px;
}

.bug-info__button {
  display:block;
  height: 50px;
  width: 86%;
  margin: 0 auto 20px auto;
  background: #dfdfdf;
  font-size: .6em;
  border: none;
  padding: 0px;
}

.bug-info__button:focus {
  outline: none;
}

.bug-info__button:hover {
  background: #9bd500;
  color:white;
}

.bug-info__button--only-once {
  margin-bottom: 0px;
}

.bug-info__button:active {
box-shadow: inset 0 0 0 1px #82B200 ,inset 0 2px 7px #82B200;
background: #9bd500;
color:white;
}

.bug-info__button-label {
  display: block;
  width: 100%;
  height: 100%;
  padding-top:18px;
  box-sizing: border-box;
}

.bug-info__radio:checked + .bug-info__button {
  background: #9bd500;
  color:white;
}



.bug-info__button--detect {
  background: #2f2f2f;
  color: white;
}

.bug-info__button--detect:hover,
.bug-info__button--detect:active {
  background-color:#2f2f2f;
}

.bug-info__button--detect:active {
box-shadow: inset 0 0 0 1px #161616 ,inset 0 2px 10px #161616;

}

/* ==========================================================================
   TABLET
   ========================================================================== */


@media only screen and (min-width : 768px) {

  body {
    padding:10px
  }

  .dl-link {
   margin-bottom: 0px;
  }

  .progress-label {
   display: inline-block;
   margin: 0 8px 0 calc(4% - 8px);
   text-align: left;
   vertical-align: super;
   min-width: 77px;
   width:10%
  }

  .progress-label__text {
   text-align: left;
  }

  .month-section {

  }

  .all-months {
  display: inline-block;
  vertical-align: middle;
  min-width: 625px;
  width: 83%;
  }

  .all-months__spacer {
   width: 8%;
   min-width: 50px;
   margin-bottom: 2px;
  }


  @media only screen
   and (max-width: 850px) {
   .month--current {
     width: 50px;
     border-radius: 0 0 25px 25px;
     margin-left: -25px;
   }
  }

  .annual-section {
  padding-bottom: 20px;
  }

  .annual-progress {
   width: calc(83% - 48px);
   min-width: 577px;
   display:inline-block;
   vertical-align: middle;
   margin-left: 24px;
   right:0px;
  }

  .backup {
   width: 33.3%;
  }

  .benefits {
   width: calc(33.3% - 1px);
  }

  .alert {
   display: inline-block;
   width: 33.3%;
  }

  .alert-form {
    border-top: 6px solid #d50000;
  }


  .bug-info__button {
    height: 40px;
    width: 140px;
    margin: 0 auto 20px auto;
  }

}

/* ==========================================================================
   DESKTOP
   ========================================================================== */

@media only screen and (min-width : 1025px) {

  .dashboard {
    padding: 0 23% 0 25px;
  }

  .dl-link {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 25px;
  }

  @media only screen
   and (max-width: 1100px) {
   .month--current {
     width: 50px;
     border-radius: 0 0 25px 25px;
     margin-left: -25px;
   }
  }

  .grey-boxes {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 23%;
  }

  .backup {
    position:absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 65%;
  }

  .benefits {
    position:absolute;
    left: 0px;
    bottom: 0px;
    height: calc(50% - 1px);
    width: 65%;
    margin-left: 0px;
  }

  .alert {
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 35%;
  }

  .alert-glyph {
    display:block;
    margin: 0 auto;
  }

  .alert-text {
    display:block;
    text-align: center;
    height: 20px;
  }

  .alert-text__break {
    display: block;
  }

  .alert-text__priority {
    width:100%;
  }

  .alert-text__close {
    width:100%;
    top: -30px;
    left: 0px !important;
  }

  .alert-glyph--x {
    transform: translateY(10px) !important;
  }

  .alert-text__priority--x {
    top: 20px;
  }

  .alert-text__close--x {
    top: -15px;
  }

}




/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

.u--hidden {
  display:none;
}
